<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/stash.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="card-body">
        <div class="card">
            <a href="/" class="card-header text-center">
                Path of exile stash viewer
            </a>
            <div class="card-header text-center">
                Stash
            </div>
            <div class="">
                <ul class="nav nav-tabs">
                    {{#tab}}
                        {{#tabs}}
                            <li class="nav-item">
                                <a class="nav-link {{#if selected}}active{{/if}}"
                                   href="/stash/{{i}}?{{../../parameter}}"
                                   style="color: rgb({{colour.r}}, {{colour.g}}, {{colour.b}}); filter:brightness(80%)">
                                    {{n}}
                                </a>
                            </li>
                        {{/tabs}}
                    {{/tab}}
                </ul>
                <div class="card-body">
                    <div class="stash">
                        {{#tab}}
                            {{#items}}
                                <img class="item"
                                     style="left: calc((47.5px * {{x}}));
                                             top: calc((47.5px * {{y}}));"
                                     src="{{icon}}"/>
                            {{/items}}
                        {{/tab}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>